
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    }

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
}

section, article, aside {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

p {
    font-size:  18px;
    margin-left: 30px;
    margin-right: 30px;
    color: #333;
}



/* .MathJax_Display {
    font-size: 30px;
}
.MJX-TEX { font-size:110%; } */

#equation {
    font-size: 18px;
    text-align: center;
    margin: 30px;
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

#legend {
    font-size: 16px;
    color: #333;
    text-align: right;
    margin: 20px;
}

#demo {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 30px;
    top: 25px;
    animation: move 5s linear forwards;
    animation-play-state: paused;
}

@keyframes move {
  0% { left: 440px; top: 0; }
  12.5% { left: 640px; top: 0; }
  37.5% { left: 280px; top: 0px; }
  62.5% { left: 560px; top: 0px; }
  87.5% { left: 360px; top: 0px; }
  100% { left: 440px; top: 0px; }
}

#demo-button {
    height: 50px;
    margin-left: 120px;
    font-size: 20px;
    position: relative;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 0px;
    top: 0px;
    animation: move 5s linear forwards;
    animation-play-state: paused;
}

.start-button {
    /* width: 100px; */
    height: 50px;
    /* margin: 20px; */
    font-size: 20px;
    position: relative;
  }

.plot-container {
    position: relative;
    /* top: 150px;
    left: 800px; */
}

.animation {
    margin-left: 20px;
}

.code {
    padding: 2px;
    overflow: auto;
    border-radius: 2px;
    background: #f5f5f5;
    color: #333;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;

}

table {
    border-collapse: collapse;
    border: 0px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    display: grid;
    place-items: center;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}